<div class="text-center mt-3">
    <h2>Your Matches - {{pagination?.totalItems}} Found</h2>
</div>
<div class="continer mt-3" *ngIf="userParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age From:</label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge"
                [(ngModel)]="userParams.minAge">
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age To:</label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge"
                [(ngModel)]="userParams.maxAge">
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label me-2">Show:</label>
            <select name="gender" style="width: 130px;" class="form-select ms-1" [(ngModel)]="userParams.gender">
                <option *ngFor="let gen of genderList" [value]="gen.value">
                    {{ gen.display}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary ms-1" type="submit">Apply Filter</button>
        <button (click)="resetFilter()" class="btn btn-info ms-1" type="submit">Reset Filter</button>

        <div class="col">
            <div class="btn-group float-end">
                <button type="button" class="btn btn-primary" name="orderBy"
                [(ngModel)]="userParams.orderBy"
                btnRadio="lastActive"
                (click)="loadMembers()">Last Active</button>
            </div>
            <div class="btn-group float-end">
                <button type="button" class="btn btn-primary" name="orderBy"
                [(ngModel)]="userParams.orderBy"
                btnRadio="created"
                (click)="loadMembers()">new Members</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let mem of members">
        <app-member-card [memberObject]="mem"></app-member-card>
    </div>
</div>
<div class="d-fled justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="OnPageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>