<form #registerForm="ngForm" (ngSubmit)="registerUser()" autocomplete="off">
    <h2 class="text-cener text-primary">Sign Up</h2>
    <hr>
    <div class="mb-3">
        <input type="text" class="form-control" name="userName"
        [(ngModel)]="model.userName" placeholder="User Name">
    </div>
    <div class="mb-3">
        <select class="form-select">
            <option *ngFor="let user of userFormHomeComponent" [value]="user.userName" >
                {{user.userName}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="userName"
        [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>