<div class="row" *ngIf="memberObject">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information : </strong> You made changes.any unsaved will lost</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{memberObject.photoUrl ||'.asserts/user.png'}}" alt="{{memberObject.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location :</strong>
                    <p>{{memberObject.city}},{{memberObject.country}}</p>
                </div>
                <div>
                    <strong>Age :</strong>
                    <p>{{memberObject.age}}</p>
                </div>
                <div>
                    <strong>Last Active :</strong>
                    <p>{{memberObject.lastActive +'Z' | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since :</strong>
                    <p>{{memberObject.created | date:'longDate'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success col-12" form="editForm" tye="submit" [disabled]="!editForm.dirty">Save
                    Changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{memberObject.knownAs}}">
                <form #editForm="ngForm" (ngSubmit)="updateMembers()" id="editForm">
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control" [(ngModel)]="memberObject.introduction" name="introduction"
                        rows="6"></textarea>
                    <h4 class="mt-2">Looking For</h4>
                    <textarea class="form-control" [(ngModel)]="memberObject.lookingFor" name="lookingFor"
                        rows="6"></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea class="form-control" [(ngModel)]="memberObject.interests" name="interests"
                        rows="6"></textarea>
                    <h4 class="mt-2">Location Details:</h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City : </label>
                        <input type="text" [(ngModel)]="memberObject.city" name="city" class="form-control mx2">
                        <label for="country">Country : </label>
                        <input type="text" [(ngModel)]="memberObject.country" name="country" class="form-control mx2">
                    </div>
                </form>

            </tab>
            <tab heading="Edit Photos">
                <app-photo-editor [memberObject]="memberObject"></app-photo-editor>
            </tab>

        </tabset>
    </div>
</div>