<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{memberObject.photoUrl ||'.asserts/user.png'}}" alt="{{memberObject.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$|async)?.includes(memberObject.userName)">
                    <i class="fa fa-user-circle text-success">
                        Online Now
                    </i>
                </div>
                <div>
                    <strong>Location :</strong>
                    <p>{{memberObject.city}},{{memberObject.country}}</p>
                </div>
                <div>
                    <strong>Age :</strong>
                    <p>{{memberObject.age}}</p>
                </div>
                <div>
                    <strong>Last Active :</strong>
                    <p>{{memberObject.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since :</strong>
                    <p>{{memberObject.created | date:'longDate'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-primary" (click)="selectTab('Messages')">Messages</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{memberObject.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{memberObject.introduction}}</p>
                <h4>Looking For</h4>
                <p>{{memberObject.lookingFor}}</p>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{memberObject.interests}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                <gallery *ngIf="photoTab.active" [items]="imagesObject"></gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [userName]="memberObject.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>